{% extends "base.html" %}
{% block title %}Статьи{% endblock %}
{% block title2 %}Статьи {{answer.question}} {% endblock %}
{% block menu %}
    <li><a href="{% url news.views.index %}">Новости</a></li>
    <li><a href="{% url views.about %}">О сайте</a></li>
    <li class="current-tab"><a href="{% url faq.views.index %}">Статьи</a></li>
{% endblock %}

{% block content %}
  <div id="content">
	 <h2 class="label label-green"><a href="{% url faq.views.index %}">Вопрос-ответ</a> / <a>{{category.name}}</a></h2>
		<ul class="nice-list">
		{% for answer in answers %}
			<li><a href="{% url faq.views.answer category=category.id id=answer.id %}">{{answer.question}}</a></li>
		{% endfor %}
		</ul>
  </div>
{% endblock %}
